/*-- scss:defaults --*/

// Include JuliaMono font
@import url("https://cdn.jsdelivr.net/gh/cormullion/juliamono-webfonts/JuliaMono-Black.woff2");

// fonts settings
$font-family-sans-serif: 'Lato', sans-serif;
$presentation-heading-font: 'Lato', sans-serif !default;
$font-family-monospace: 'JuliaMono-Light', monospace !default;
$presentation-heading-text-transform: none !default;
